[Unit]
Description=GOMTEH - aplikacija za ponude i radne naloge
After=network.target

[Service]
Type=simple
# IZMENI User i WorkingDirectory da odgovaraju tvom serveru
User=krajcara
WorkingDirectory=/home/krajcara/gomteh
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=3
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
